<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VacBook</title>
</head>
<body>
<div class="container" style="max-width: 700px; padding-top: 50px; margin: 50px; line-height:30px;">
    <h1>User Profile</h1>
    <form>
        Account: Gender: <input th:value="${result.userAccount}"/><br/>
        Last name: <input th:value="${result.userLastname}"/><br/>
        First name: <input th:value="${result.userFirstname}"/><br/>
        Phone number: <input th:value="${result.phoneNumber}"/><br/>
        Email: <input th:value="${result.email}"/><br/>
        Gender: <input th:value="${result.gender}"/><br/>
        Age: <input th:value="${result.age}"/><br/>
        Address: <input th:value="${result.address}"/><br/>
        Password: <input type="password" th:value="${result.userPassword}"/><br/>
        Safe question: <input th:value="${result.userQuestion}"/><br/>
        Safre answer: <input th:value="${result.userSafeKey}"/><br/>
        <button class="shadow p-3 mb-3 bg-body rounded" type="submit" id="login-button">Save</button>
    </form>
</div>

</body>
</html>