<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="adminPages/base.html">
<div layout:fragment="content" class="container"
     style="max-width: 700px; margin-top: 50px; padding-top: 30px;  padding-bottom: 30px; line-height:30px; border: 1px solid black;">
  <h1 align="center">Setting</h1>
  <form action="" th:object="${result}" method="put">

    <table class="table table-striped" style="border: 1px solid black;">
      <tbody style="text-align: center">

      <tr >
        <th>ID</th>
        <th>Date</th>
        <th>Period</th>
        <th>Vaccine</th>
        <th>View User</th>
        <th>Operation</th>
      </tr>
      <tr th:each="l:${bookingList}" style="text-align: center">
        <td th:text="${l.getBookingId()}" />
        <td th:text="${l.getDate()}"/>
        <td th:text="${l.getBookingTimezone()}"/>
        <td th:text="${l.getVaccineId()}"/>
        <td style="text-align: center" >
          <a th:href="@{/vacbook/admin/1/booking/user/{userId} (userId = ${l.getUserId()})}">
            <input style="background-color: dimgray" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" th:value="${l.getUserId()}"/>
          </a>
        </td>
        <td>
          <button style="background-color: darkred" type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
            Reject</button>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <div>-->

<!--      <button class="shadow p-3 mb-3 bg-body rounded" type="submit" id="login-button">Save</button>-->
<!--    </div>-->

  </form>
</div>
</html>
