<!DOCTYPE html >
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VacBook</title>
  <link rel="stylesheet" th:href="@{/css/adminStyle.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
</head>
<body class="bg">
<div id="fh5co-page" style="background-color: transparent; display: flex; flex-direction: row; width: 100vw; height: 100vh">

  <aside id="fh5co-aside" role="complementary" class="border js-fullheight" style="width: 21vw; height: 100vh">
          <div class="logo">
            <a th:href="@{/}"><img id="logo-register" th:src ="@{/img/logo.png}"></a>
          </div>

          <nav style="background-color: lightpink; height: 100vh" id="fh5co-main-menu" >
                <ul>
                  <li><a th:href="@{/vacbook/admin/1/dashboard}"><span>Dashboard</span></a></li>
                  <li><a th:href="@{/vacbook/admin/1/bookings}"><span>Bookings</span></a></li>
                  <li><a th:href="@{/vacbook/admin/1/vaccines}"><span>Vaccines</span></a></li>
                  <li><a th:href="@{/vacbook/admin/1/setting}"><span>Setting</span> </a></li>
                </ul>
            <div class ="logout">
              <a  th:href="@{/vacbook/admin/logout}"><span>Log out</span></a>
            </div>
          </nav>

  </aside>
  <div style="width: 79vw; height: 100vh">
    <div style="background-color: lightpink; height: 70px">
<!--      <div>-->
<!--        <input class="btn btn-default" type="text" value="Welcome Admin: " />-->
<!--        <span th:text="${result.name}"></span>-->
<!--      </div>-->

    </div>
    <div layout:fragment = "content">
      admin pages
    </div>
  </div>

</div>
</body>
</html>



